#placetostay {
  margin: 0;
  padding: 0;
}

#placetostay .placetostay {
  margin: 2rem auto;
  color: var(--color-text);
}

#placetostay .placetostay .comm-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 3rem;
}

#placetostay .placetostay .comm-links a {
  font-weight: bold;
}

#placetostay .placetostay .comm-links a:last-child {
  border: 1px solid #d8d8d8;
  font-size: smaller;
  padding: 0.4rem 1rem;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

#placetostay .placetostay .comm-links a .more {
  font-size: 1rem;
}

#placetostay .placetostay .comm-body {
  margin: 5rem auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

#placetostay .placetostay .comm-cards {
  display: grid;
  padding: 1rem 0;
  gap: 0.6rem;
  border: 1px solid #a3a3a3;
  border-radius: 10px;
  padding: 1rem;
  font-size: 14px;
  color: var(--color-text);
}

#placetostay .placetostay .comm-cards .comm-card {
  display: flex;
  justify-content: space-between;
}

#placetostay .placetostay .comm-cards .comm-card .fbold {
  font-weight: bold;
}

#placetostay .placetostay .comm-cards .star {
  color: var(--color-primary);
}

/* ============= MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px) {
  #placetostay .placetostay .comm-body {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ============= MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 600px) {
  #placetostay .placetostay .comm-body {
    grid-template-columns: 1fr;
  }
}
