#navbar .navbar {
  color: var(--color-text);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}

#navbar .navbar .nav-burger {
  font-size: 1.4rem;
  display: none;
}

#navbar .logo img {
  width: 100%;
  cursor: pointer;
}

#navbar .navlinks {
  display: flex;
  align-items: center;
  gap: 3.5rem;
  font-size: 20px;
  cursor: pointer;
}

#navbar .nav-btn {
  padding: 0.6rem 1rem;
  color: var(--color-white);
  border-radius: 8px;
  background: var(--color-bg);
  cursor: pointer;
}

/* ============= MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px) {
  #navbar .navlinks,
  .nav-btn {
    display: none;
  }
  #navbar .navbar .nav-burger {
    font-size: 1.4rem;
    display: flex;
  }
}

/* ============= MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 600px) {
}
